:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-weight: 400;

  color-scheme: light dark;
  color: #26282d;
  background-color: #cdcaca;

  --CC-color-blue: #024d7c;
  --CC-color-blue-light: #eef7fe;
  --CC-color-blue-dark: #002d4c;
  --CC-color-blue-gray: #b0c4d4;
  --CC-color-gray: #b0b0b0;
  --CC-color-gray-light: #f0f0f0;
  --CC-color-gray-dark: #7d7d7d;
  --CC-color-focus: #63c9b9;
  --CC-color-required: #a41d33;
  --CC-color-success: #4caf50;
}


body {
  margin: 0;
  padding: 1rem 2rem;
  max-width: 1500px;
  display: flex;
  justify-content: center;;
  min-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
}

#app {
  width: 100%;
  text-align: center;
  
}




@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');