:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  font-weight: 400;
  color-scheme: light dark;
  color: #26282d;
  background-color: #cdcaca;
  // #region - global variables - font, color
  --CC-font-family: 'Roboto', sans-serif;
  --CC-color-transparent: transparent;
  --CC-color-blue: #024d7c;
  --CC-color-blue-light: #eef7fe;
  --CC-color-blue-dark: #002d4c;
  --CC-color-blue-gray: #b0c4d4;
  --CC-color-gray: #b0b0b0;
  --CC-color-gray-light: #e6e3e3;
  --CC-color-gray-dark: #7d7d7d;
  --CC-color-gray-darker: #4d4d4d;
  --CC-color-focus: #21d795;
  --CC-color-focus-light: #98f0d6;
  --CC-color-required: #a41d33;
  --CC-color-success: #4caf50;
  --CC-color-warning: #ff9800;
  --CC-color-error: #f44336;
  --CC-color-text: #26282d;
  --CC-color-text-light: #f0f0f0;
  --CC-color-green-light: #d4f0d6;
  --CC-color-green-dark: #4caf50;
  --CC-color-red-light: #f7cace;
  --CC-color-red-dark: #d02216;
  --CC-color-white: #ffffff;
  
  // #endregion - global variables
}


body {
  margin: 0;
  padding: 1rem 2rem;
  max-width: 1500px;
  display: flex;
  justify-content: center;;
  min-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
}

#app {
  width: 100%;
  text-align: center;
  
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

/* Utility classes for CSS Customization */

// #region - Utility classes - expand for more

// #region - display, position, float, overflow classes

// #region - Size utilities: Width, Height utilities
// width
.cc-w-100 {
  width: 100%;
}
.cc-w-75 {
  width: 75%;
}
.cc-w-50 {
  width: 50%;
}
.cc-w-25 {
  width: 25%;
}
.cc-w-auto {
  width: auto;
}
.cc-w-fit-content {
  width: fit-content;
}
// height
.cc-h-100 {
  height: 100%;
}
.cc-h-75 {
  height: 75%;
}
.cc-h-50 {
  height: 50%;
}
.cc-h-25 {
  height: 25%;
}
.cc-h-auto {
  height: auto;
}
.cc-h-fit-content {
  height: fit-content;
}
// #endregion - Size utilities
// #region - display

.cc-d-flex {
  display: flex;
}
.cc-d-grid { 
  display: grid;
}
.cc-d-block {
  display: block;
}
.cc-d-inline {
  display: inline;
}
.cc-d-inline-block {
  display: inline-block;
}
.cc-d-table {
  display: table;
}
.cc-d-contents {
  display: contents;
}
.cc-d-none {
  display: none;
}
// #endregion - display
// #region - position, float
/* Position utilities */
.cc-position-static {
  position: static;
}
.cc-position-relative {
  position: relative;
}
.cc-position-absolute {
  position: absolute;
}
.cc-position-fixed {
  position: fixed;
}
.cc-position-sticky {
  position: sticky;
}
/* Positional Layout Utilities */
.cc-bottom-0 {
  bottom: 0;
}
.cc-bottom-100 {
  bottom: 100%;
}
.cc-bottom-auto {
  bottom: auto;
}
.cc-top-0 {
  top: 0;
}
.cc-top-100 {
  top: 100%;
}
.cc-top-auto {
  top: auto;
}
.cc-left-0 {
  left: 0;
}
.cc-left-100 {
  left: 100%;
}
.cc-left-auto {
  left: auto;
}
.cc-right-0 {
  right: 0;
}
.cc-right-100 {
  right: 100%;
}
.cc-right-auto {
  right: auto;
}
/* FLoat utilities */
.cc-float-left {
  float: left;
}
.cc-float-right {
  float: right;
}
.cc-float-none {
  float: none;
}
// #endregion - position, float
// #region - overflow
.cc-overflow-auto {
  overflow: auto;
}
.cc-overflow-hidden {
  overflow: hidden;
}
.cc-overflow-visible {
  overflow: visible;
}
.cc-overflow-scroll {
  overflow: scroll;
}
.cc-overflow-x-auto {
  overflow-x: auto;
}
.cc-overflow-x-hidden {
  overflow-x: hidden;
}
.cc-overflow-x-visible {
  overflow-x: visible;
}
.cc-overflow-x-scroll {
  overflow-x: scroll;
}
.cc-overflow-y-auto {
  overflow-y: auto;
}
.cc-overflow-y-hidden {
  overflow-y: hidden;
}
.cc-overflow-y-visible {
  overflow-y: visible;
}
.cc-overflow-y-scroll {
  overflow-y: scroll;
}
// #endregion - overflow
// #endregion - display, position, float, overflow classes

// #region - Flexbox and Grid utilities

// #region - Place, align, justify items utilities 
.cc-place-items-start {
  place-items: start;
}
.cc-place-items-center {
  place-items: center;
}
.cc-place-items-end {
  place-items: end;
}
.cc-place-items-stretch {
  place-items: stretch;
}
.cc-place-items-normal {
  place-items: normal;
}
/* Flex utilities */
/* Align-items utilities */

.cc-align-items-start {
  align-items: flex-start;
}
.cc-align-items-center {
  align-items: center;
}
.cc-align-items-end {
  align-items: flex-end;
}

/* Justify-content utilities */

.cc-justify-start {
  justify-content: flex-start;
}
.cc-justify-center {
  justify-content: center;
}
.cc-justify-end {
  justify-content: flex-end;
}
.cc-justify-between {
  justify-content: space-between;
}
.cc-justify-around {
  justify-content: space-around;
}
.cc-justify-evenly {
  justify-content: space-evenly;
}
// #endregion - Place, align, justify items utilities
// #region - Flex-wrap, direction, grow, shrink, flow utilities
.cc-flex-wrap {
  flex-wrap: wrap;
}
.cc-flex-nowrap {
  flex-wrap: nowrap;
}

.cc-flex-row {
  flex-direction: row;
}
.cc-flex-row-reverse {
  flex-direction: row-reverse;
}

.cc-flex-column {
  flex-direction: column;
}
.cc-flex-column-reverse {
  flex-direction: column-reverse;
}

.cc-flex-grow-0 {
  flex-grow: 0;
}
.cc-flex-grow-1 {
  flex-grow: 1;
}

.cc-flex-shrink-0 {
  flex-shrink: 0;
}
.cc-flex-shrink-1 {
  flex-shrink: 1;
}

.cc-flex-flow-row {
  flex-flow: row wrap;
}
.cc-flex-row-nowrap {
  flex-flow: row nowrap;
}
.cc-flex-flow-column {
  flex-flow: column wrap;
}
.cc-flex-column-nowrap {
  flex-flow: column nowrap;
}

.cc-flex-basis-auto {
  flex-basis: auto;
}
// #endregion - Flex-wrap, direction, grow, shrink, flow utilities
// #region - Gap utilities 
.cc-gap-0 {
  gap: 0;
}
.cc-gap-1 {
  gap: 0.25rem;
}
.cc-gap-2 {
  gap: 0.5rem;
}
.cc-gap-3 {
  gap: 0.75rem;
}
.cc-gap-4 {
  gap: 1rem;
}
.cc-gap-5 {
  gap: 1.25rem;
}
.cc-gap-6 {
  gap: 1.5rem;
}
.cc-gap-7 {
  gap: 1.75rem;
}
.cc-gap-8 {
  gap: 2rem;
}
.cc-gap-9 {
  gap: 2.25rem;
}
.cc-gap-10 {
  gap: 2.5rem;
}
/* Column Gap utilities */
.cc-column-gap-0 {
  column-gap: 0;
}
.cc-column-gap-1 {
  column-gap: 0.25rem;
}
.cc-column-gap-2 {
  column-gap: 0.5rem;
}
.cc-column-gap-3 {
  column-gap: 0.75rem;
}
.cc-column-gap-4 {
  column-gap: 1rem;
}
.cc-column-gap-5 {
  column-gap: 1.25rem;
}
.cc-column-gap-6 {
  column-gap: 1.5rem;
}
.cc-column-gap-7 {
  column-gap: 1.75rem;
}
.cc-column-gap-8 {
  column-gap: 2rem;
}
.cc-column-gap-9 {
  column-gap: 2.25rem;
}
.cc-column-gap-10 {
  column-gap: 2.5rem;
}
/* Row Gap utilities */
.cc-row-gap-0 {
  row-gap: 0;
}
.cc-row-gap-1 {
  row-gap: 0.25rem;
}
.cc-row-gap-2 {
  row-gap: 0.5rem;
}
.cc-row-gap-3 {
  row-gap: 0.75rem;
}
.cc-row-gap-4 {
  row-gap: 1rem;
}
.cc-row-gap-5 {
  row-gap: 1.25rem;
}
.cc-row-gap-6 {
  row-gap: 1.5rem;
}
.cc-row-gap-7 {
  row-gap: 1.75rem;
}
.cc-row-gap-8 {
  row-gap: 2rem;
}
.cc-row-gap-9 {
  row-gap: 2.25rem;
}
.cc-row-gap-10 {
  row-gap: 2.5rem;
}
// #endregion - Gap utilities
// #endregion - Flexbox and Grid utilities

// #region - Spacing utilities
/* Margin utilities */

.cc-m-0 {
  margin: 0;
}
.cc-m-1 {
  margin: 0.25rem;
}
.cc-m-2 {
  margin: 0.5rem;
}
.cc-m-3 {
  margin: 0.75rem;
}
.cc-m-4 {
  margin: 1rem;
}
.cc-m-5 {
  margin: 1.25rem;
}
.cc-m-6 {
  margin: 1.5rem;
}
.cc-m-7 {
  margin: 1.75rem;
}
.cc-m-8 {
  margin: 2rem;
}
.cc-m-9 {
  margin: 2.25rem;
}
.cc-m-10 {
  margin: 2.5rem;
}
.cc-mb-20 {
  margin-bottom: 5rem;
}
.cc-m-auto {
  margin: auto;
}
.cc-m--1 {
  margin: -0.25rem;
}
.cc-m--2 {
  margin: -0.5rem;
}
.cc-m--3 {
  margin: -0.75rem;
}
.cc-m--4 {
  margin: -1rem;
}
.cc-m--5 {
  margin: -1.25rem;
}
.cc-m--6 {
  margin: -1.5rem;
}
.cc-m--7 {
  margin: -1.75rem;
}
.cc-m--8 {
  margin: -2rem;
}
.cc-m--9 {
  margin: -2.25rem;
}
.cc-m--10 {
  margin: -2.5rem;
}

/* Margin x-axis utilities */

.cc-mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.cc-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.cc-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.cc-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.cc-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.cc-mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.cc-mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.cc-mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}
.cc-mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.cc-mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
.cc-mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.cc-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.cc-mx--1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem;
}
.cc-mx--2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.cc-mx--3 {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}
.cc-mx--4 {
  margin-left: -1rem;
  margin-right: -1rem;
}
.cc-mx--5 {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
.cc-mx--6 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.cc-mx--7 {
  margin-left: -1.75rem;
  margin-right: -1.75rem;
}
.cc-mx--8 {
  margin-left: -2rem;
  margin-right: -2rem;
}
.cc-mx--9 {
  margin-left: -2.25rem;
  margin-right: -2.25rem;
}
.cc-mx--10 {
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

/* Margin y-axis utilities */
.cc-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.cc-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.cc-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.cc-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.cc-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.cc-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.cc-my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.cc-my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.cc-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cc-my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.cc-my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.cc-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.cc-my--1 {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}
.cc-my--2 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cc-my--3 {
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}
.cc-my--4 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}
.cc-my--5 {
  margin-top: -1.25rem;
  margin-bottom: -1.25rem;
}
.cc-my--6 {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
.cc-my--7 {
  margin-top: -1.75rem;
  margin-bottom: -1.75rem;
}
.cc-my--8 {
  margin-top: -2rem;
  margin-bottom: -2rem;
}
.cc-my--9 {
  margin-top: -2.25rem;
  margin-bottom: -2.25rem;
}
.cc-my--10 {
  margin-top: -2.5rem;
  margin-bottom: -2.5rem;
}


/* Margin top utilities */
.cc-mt-0 {
  margin-top: 0;
}
.cc-mt-1 {
  margin-top: 0.25rem;
}
.cc-mt-2 {
  margin-top: 0.5rem;
}
.cc-mt-3 {
  margin-top: 0.75rem;
}
.cc-mt-4 {
  margin-top: 1rem;
}
.cc-mt-5 {
  margin-top: 1.25rem;
}
.cc-mt-6 {
  margin-top: 1.5rem;
}
.cc-mt-7 {
  margin-top: 1.75rem;
}
.cc-mt-8 {
  margin-top: 2rem;
}
.cc-mt-9 {
  margin-top: 2.25rem;
}
.cc-mt-10 {
  margin-top: 2.5rem;
}
.cc-mt-20 {
  margin-top: 5rem;
}
.cc-mt-auto {
  margin-top: auto;
}
.cc-mt--1 {
  margin-top: -0.25rem;
}
.cc-mt--2 {
  margin-top: -0.5rem;
}
.cc-mt--3 {
  margin-top: -0.75rem;
}
.cc-mt--4 {
  margin-top: -1rem;
}
.cc-mt--5 {
  margin-top: -1.25rem;
}
.cc-mt--6 {
  margin-top: -1.5rem;
}
.cc-mt--7 {
  margin-top: -1.75rem;
}
.cc-mt--8 {
  margin-top: -2rem;
}
.cc-mt--9 {
  margin-top: -2.25rem;
}
.cc-mt--10 {
  margin-top: -2.5rem;
}

/* Margin bottom utilities */

.cc-mb-0 {
  margin-bottom: 0;
}
.cc-mb-1 {
  margin-bottom: 0.25rem;
}
.cc-mb-2 {
  margin-bottom: 0.5rem;
}
.cc-mb-3 {
  margin-bottom: 0.75rem;
}
.cc-mb-4 {
  margin-bottom: 1rem;
}
.cc-mb-5 {
  margin-bottom: 1.25rem;
}
.cc-mb-6 {
  margin-bottom: 1.5rem;
}
.cc-mb-7 {
  margin-bottom: 1.75rem;
}
.cc-mb-8 {
  margin-bottom: 2rem;
}
.cc-mb-9 {
  margin-bottom: 2.25rem;
}
.cc-mb-10 {
  margin-bottom: 2.5rem;
}
.cc-mb-20 {
  margin-bottom: 5rem;
}
.cc-mb-auto {
  margin-bottom: auto;
}
.cc-mb--1 {
  margin-bottom: -0.25rem;
}
.cc-mb--2 {
  margin-bottom: -0.5rem;
}
.cc-mb--3 {
  margin-bottom: -0.75rem;
}
.cc-mb--4 {
  margin-bottom: -1rem;
}
.cc-mb--5 {
  margin-bottom: -1.25rem;
}
.cc-mb--6 {
  margin-bottom: -1.5rem;
}
.cc-mb--7 {
  margin-bottom: -1.75rem;
}
.cc-mb--8 {
  margin-bottom: -2rem;
}
.cc-mb--9 {
  margin-bottom: -2.25rem;
}
.cc-mb--10 {
  margin-bottom: -2.5rem;
}

/* Margin left utilities */

.cc-ml-0 {
  margin-left: 0;
}
.cc-ml-1 {
  margin-left: 0.25rem;
}
.cc-ml-2 {
  margin-left: 0.5rem;
}
.cc-ml-3 {
  margin-left: 0.75rem;
}
.cc-ml-4 {
  margin-left: 1rem;
}
.cc-ml-5 {
  margin-left: 1.25rem;
}
.cc-ml-6 {
  margin-left: 1.5rem;
}
.cc-ml-7 {
  margin-left: 1.75rem;
}
.cc-ml-8 {
  margin-left: 2rem;
}
.cc-ml-9 {
  margin-left: 2.25rem;
}
.cc-ml-10 {
  margin-left: 2.5rem;
}
.cc-ml-auto {
  margin-left: auto;
}
.cc-ml--1 {
  margin-left: -0.25rem;
}
.cc-ml--2 {
  margin-left: -0.5rem;
}
.cc-ml--3 {
  margin-left: -0.75rem;
}
.cc-ml--4 {
  margin-left: -1rem;
}
.cc-ml--5 {
  margin-left: -1.25rem;
}
.cc-ml--6 {
  margin-left: -1.5rem;
}
.cc-ml--7 {
  margin-left: -1.75rem;
}
.cc-ml--8 {
  margin-left: -2rem;
}
.cc-ml--9 {
  margin-left: -2.25rem;
}
.cc-ml--10 {
  margin-left: -2.5rem;
}


/* Margin right utilities */

.cc-mr-0 {
  margin-right: 0;
}
.cc-mr-1 {
  margin-right: 0.25rem;
}
.cc-mr-2 {
  margin-right: 0.5rem;
}
.cc-mr-3 {
  margin-right: 0.75rem;
}
.cc-mr-4 {
  margin-right: 1rem;
}
.cc-mr-5 {
  margin-right: 1.25rem;
}
.cc-mr-6 {
  margin-right: 1.5rem;
}
.cc-mr-7 {
  margin-right: 1.75rem;
}
.cc-mr-8 {
  margin-right: 2rem;
}
.cc-mr-9 {
  margin-right: 2.25rem;
}
.cc-mr-10 {
  margin-right: 2.5rem;
}
.cc-mr-auto {
  margin-right: auto;
}
.cc-mr--1 {
  margin-right: -0.25rem;
}
.cc-mr--2 {
  margin-right: -0.5rem;
}
.cc-mr--3 {
  margin-right: -0.75rem;
}
.cc-mr--4 {
  margin-right: -1rem;
}
.cc-mr--5 {
  margin-right: -1.25rem;
}
.cc-mr--6 {
  margin-right: -1.5rem;
}
.cc-mr--7 {
  margin-right: -1.75rem;
}
.cc-mr--8 {
  margin-right: -2rem;
}
.cc-mr--9 {
  margin-right: -2.25rem;
}
.cc-mr--10 {
  margin-right: -2.5rem;
}

/* Margin xy utilities */

.cc-mxy-0-auto {
  margin: 0 auto;
}
.cc-mxy-1-auto {
  margin: 0.25rem auto;
}
.cc-mxy-2-auto {
  margin: 0.5rem auto;
}
.cc-mxy-3-auto {
  margin: 0.75rem auto;
}
.cc-mxy-4-auto {
  margin: 1rem auto;
}
.cc-mxy-5-auto {
  margin: 1.25rem auto;
}
.cc-mxy-6-auto {
  margin: 1.5rem auto;
}
.cc-mxy-7-auto {
  margin: 1.75rem auto;
}
.cc-mxy-8-auto {
  margin: 2rem auto;
}
.cc-mxy-9-auto {
  margin: 2.25rem auto;
}
.cc-mxy-10-auto {
  margin: 2.5rem auto;
}
.cc-mxy-auto-0 {
  margin: auto 0;
}
.cc-mxy-auto-1 {
  margin: auto 0.25rem;
}
.cc-mxy-auto-2 {
  margin: auto 0.5rem;
}
.cc-mxy-auto-3 {
  margin: auto 0.75rem;
}
.cc-mxy-auto-4 {
  margin: auto 1rem;
}
.cc-mxy-auto-5 {
  margin: auto 1.25rem;
}
.cc-mxy-auto-6 {
  margin: auto 1.5rem;
}
.cc-mxy-auto-7 {
  margin: auto 1.75rem;
}
.cc-mxy-auto-8 {
  margin: auto 2rem;
}
.cc-mxy-auto-9 {
  margin: auto 2.25rem;
}
.cc-mxy-auto-10 {
  margin: auto 2.5rem;
}

/* Padding utilities */

.cc-p-0 {
  padding: 0;
}
.cc-p-1 {
  padding: 0.25rem;
}
.cc-p-2 {
  padding: 0.5rem;
}
.cc-p-3 {
  padding: 0.75rem;
}
.cc-p-4 {
  padding: 1rem;
}
.cc-p-5 {
  padding: 1.25rem;
}
.cc-p-6 {
  padding: 1.5rem;
}
.cc-p-7 {
  padding: 1.75rem;
}
.cc-p-8 {
  padding: 2rem;
}
.cc-p-9 {
  padding: 2.25rem;
}
.cc-p-10 {
  padding: 2.5rem;
}

/* Padding x-axis utilities */

.cc-px-0 {
  padding-left: 0;
  padding-right: 0;
}
.cc-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.cc-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.cc-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.cc-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cc-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.cc-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cc-px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.cc-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.cc-px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.cc-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* Padding y-axis utilities */

.cc-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.cc-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.cc-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cc-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.cc-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cc-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.cc-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.cc-py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.cc-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.cc-py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.cc-py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* Padding Top utilities */
.cc-pt-0 {
  padding-top: 0;
}
.cc-pt-1 {
  padding-top: 0.25rem;
}
.cc-pt-2 {
  padding-top: 0.5rem;
}
.cc-pt-3 {
  padding-top: 0.75rem;
}
.cc-pt-4 {
  padding-top: 1rem;
}
.cc-pt-5 {
  padding-top: 1.25rem;
}
.cc-pt-6 {
  padding-top: 1.5rem;
}
.cc-pt-7 {
  padding-top: 1.75rem;
}
.cc-pt-8 {
  padding-top: 2rem;
}
.cc-pt-9 {
  padding-top: 2.25rem;
}
.cc-pt-10 {
  padding-top: 2.5rem;
}
/* Padding Bottom utilities */
.cc-pb-0 {
  padding-bottom: 0;
}
.cc-pb-1 {
  padding-bottom: 0.25rem;
}
.cc-pb-2 {
  padding-bottom: 0.5rem;
}
.cc-pb-3 {
  padding-bottom: 0.75rem;
}
.cc-pb-4 {
  padding-bottom: 1rem;
}
.cc-pb-5 {
  padding-bottom: 1.25rem;
}
.cc-pb-6 {
  padding-bottom: 1.5rem;
}
.cc-pb-7 {
  padding-bottom: 1.75rem;
}
.cc-pb-8 {
  padding-bottom: 2rem;
}
.cc-pb-9 {
  padding-bottom: 2.25rem;
}
.cc-pb-10 {
  padding-bottom: 2.5rem;
}
/* Padding Left utilities */
.cc-pl-0 {
  padding-left: 0;
}
.cc-pl-1 {
  padding-left: 0.25rem;
}
.cc-pl-2 {
  padding-left: 0.5rem;
}
.cc-pl-3 {
  padding-left: 0.75rem;
}
.cc-pl-4 {
  padding-left: 1rem;
}
.cc-pl-5 {
  padding-left: 1.25rem;
}
.cc-pl-6 {
  padding-left: 1.5rem;
}
.cc-pl-7 {
  padding-left: 1.75rem;
}
.cc-pl-8 {
  padding-left: 2rem;
}
.cc-pl-9 {
  padding-left: 2.25rem;
}
.cc-pl-10 {
  padding-left: 2.5rem;
}
/* Padding Right utilities */
.cc-pr-0 {
  padding-right: 0;
}
.cc-pr-1 {
  padding-right: 0.25rem;
}
.cc-pr-2 {
  padding-right: 0.5rem;
}
.cc-pr-3 {
  padding-right: 0.75rem;
}
.cc-pr-4 {
  padding-right: 1rem;
}
.cc-pr-5 {
  padding-right: 1.25rem;
}
.cc-pr-6 {
  padding-right: 1.5rem;
}
.cc-pr-7 {
  padding-right: 1.75rem;
}
.cc-pr-8 {
  padding-right: 2rem;
}
.cc-pr-9 {
  padding-right: 2.25rem;
}
.cc-pr-10 {
  padding-right: 2.5rem;
}
// #endregion - Spacing utilities

// #region - Text utilities

// #region - Text alignment, font size
/* Text alignment utilities */
.cc-text-left {
  text-align: left;
}
.cc-text-center {
  text-align: center;
}
.cc-text-right {
  text-align: right;
}
.cc-text-justify {
  text-align: justify;
}
.cc-text-nowrap {
  white-space: nowrap;
}
.cc-text-wrap {
  white-space: normal;
}
.cc-text-break-words {
  word-break: break-word;
}
.cc-text-break-all {
  word-break: break-all;
}
.cc-text-upper {
  text-transform: uppercase;
}
.cc-text-lower {
  text-transform: lowercase;
}
.cc-text-capitalize {
  text-transform: capitalize;
}
/* Font size utilities */
.cc-text-xs {
  font-size: 0.75rem; /* 12px */
}
.cc-text-sm {
  font-size: 0.875rem; /* 14px */
}
.cc-text-base {
  font-size: 1rem; /* 16px */
}
.cc-text-lg {
  font-size: 1.125rem; /* 18px */
}
.cc-text-xl {
  font-size: 1.25rem; /* 20px */
}
// #endregion - Text alignment, font size
// #region - Font style, weight, decoration utilities
/* Font Style utilities */

.cc-font-inherit-style {
  font-style: inherit;
}
.cc-font-normal {
  font-style: normal;
}
.cc-font-italic {
  font-style: italic;
}
.cc-font-oblique {
  font-style: oblique;
}
.cc-font-bold {
  font-weight: bold;
}
/* Font Weight utilities */
.cc-font-inherit-weight {
  font-weight: inherit;
}
.cc-font-light {
  font-weight: 300;
}
.cc-font-medium {
  font-weight: 500;
}
.cc-font-semibold {
  font-weight: 600;
}
.cc-font-extrabold {
  font-weight: 800;
}

/* Text decoration utilities */

.cc-text-d-none {
  text-decoration: none;
}
.cc-text-d-ul {
  text-decoration: underline;
}
.cc-text-d-ul-dot {
  text-decoration: underline dotted;
}
.cc-text-d-ul-wavy {
  text-decoration: underline wavy;
}
.cc-text-d-ul-dash {
  text-decoration: underline dashed;
}
.cc-text-d-ul-double {
  text-decoration: underline double;
}
.cc-text-d-strike {
  text-decoration: line-through;
}

/* Background Colors */
.cc-bg-white {
  background-color: #fff;
}
.cc-bg-black {
  background-color: #000;
}
.cc-bg-transparent {
  background-color: transparent;
}
.cc-bg-success {
  background-color: var(--CC-color-success);
}
.cc-bg-warning {
  background-color: var(--CC-color-warning);
}
.cc-bg-error {
  background-color: var(--CC-color-error);
}
.cc-bg-gray {
  background-color: var(--CC-color-gray);
}
.cc-bg-gray-light {
  background-color: var(--CC-color-gray-light);
}
.cc-bg-gray-dark {
  background-color: var(--CC-color-gray-dark);
}
.cc-bg-blue {
  background-color: var(--CC-color-blue);
}
.cc-bg-blue-light {
  background-color: var(--CC-color-blue-light);
}
.cc-bg-blue-dark {
  background-color: var(--CC-color-blue-dark);
}
.cc-bg-blue-gray {
  background-color: var(--CC-color-blue-gray);
}
.cc-bg-green-light {
  background-color: #d4f0d6;
}
.cc-bg-green-dark {
  background-color: #4caf50;
}
.cc-bg-red-light {
  background-color: #f7cace;
}
.cc-bg-red-dark {
  background-color: #d02216;
}
// #endregion - Font style, weight, decoration utilities
// #region - Text color utilities
.cc-text-white {
  color: #fff;
}
.cc-text-black {
  color: #000;
}
.cc-text-gray-dark {
  color: var(--CC-color-gray-dark);
}
.cc-text-gray {
  color: var(--CC-color-gray);
}
// #endregion - Text color utilities
// #endregion - Text utilities

// #region - Border utilities   

.cc-border-0 {
  border: none;
}
.cc-border-top-0 {
  border-top: none;
}
.cc-border-right-0 {
  border-right: none;
}
.cc-border-bottom-0 {
  border-bottom: none;
}
.cc-border-left-0 {
  border-left: none;
}
.cc-border {
  border: 1px solid var(--CC-color-gray);
}
.cc-border-top {
  border-top: 1px solid var(--CC-color-gray);
}
.cc-border-right {
  border-right: 1px solid var(--CC-color-gray);
}
.cc-border-bottom {
  border-bottom: 1px solid var(--CC-color-gray);
}
.cc-border-left {
  border-left: 1px solid var(--CC-color-gray);
}
.cc-border-radius-0 {
  border-radius: 0;
}
.cc-border-radius-1{
  border-radius: 0.125rem; /* 2px */
}
.cc-border-radius-2 {
  border-radius: 0.25rem; /* 4px */
}
.cc-border-radius-3 {
  border-radius: 0.5rem; /* 8px */
}
.cc-border-radius-4 {
  border-radius: 0.75rem; /* 12px */
}
.cc-border-radius-5 {
  border-radius: 1rem; /* 16px */
}
.cc-border-radius-6 {
  border-radius: 1.25rem; /* 20px */
}
.cc-border-radius-7 {
  border-radius: 1.5rem; /* 24px */
}
.cc-border-radius-8 {
  border-radius: 1.75rem; /* 28px */
}
.cc-border-radius-9 {
  border-radius: 2rem; /* 32px */
}
.cc-border-radius-10 {
  border-radius: 2.5rem; /* 40px */
}
.cc-border-circle {
  border-radius: 50%; /* Full border radius */
}
.cc-box-shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
}
// #endregion - Border utilities

// #region - Animations


@keyframes cc-animate-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cc-aimate-showToast {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes cc-animate-hideToast {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(20px);
      }
    }

    @keyframes cc-animate-appear {
    from {
      opacity: 0;
      padding: 0;
      max-height: 0;
    }
    to {
      opacity: 1;
      padding: 1rem;
      max-height: 15rem;
    }
  }

  @keyframes cc-animate-disappear {
    from {
      opacity: 1;
      max-height: 15rem;
      padding: 1rem;
    }
    to {
      opacity: 0;
      max-height: 0;
      padding: 0;
    }
  }

  @keyframes cc-toast-in-out {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}
// #endregion - Animations

// #endregion - Utility classes